<div class="d-flex justify-content-start align-items-center">
    <div style="flex-basis: 300px">
        Device ID:
    </div>
    <div style="flex-basis: 200px">
        <input class="js_device_id" style="width: 100%" id="device_id" data-device_id="{{ device.device_id }}"
               value="{% if device.device_id %}{{ device.device_id }}{% endif %}"
               placeholder="">
    </div>
</div>
<div class="d-flex justify-content-start align-items-center">
    <div style="flex-basis: 300px">
        Store ID:
    </div>
    <div style="flex-basis: 200px">
        <input class="js_diadoc_id" style="width: 100%" id="diadoc_id" data-store_id="{{ store.id }}"
               value="{% if store.store_id %}{{ store.store_id }}{% endif %}"
               placeholder="">
    </div>
</div>