<div class="pagination">
    <span class="pagination__nav">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; << |</a>
            <a href="?page={{ page.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
            Страница {{ page.number }} Из {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">> |</a>
            <a href="?page={{ page.paginator.num_pages }}">>></a>
        {% endif %}
    <br/> Всего накладных: {{page.paginator.count}}
    </span>
</div>