{% load mainapp_tags %}
{% for product in list_of_goods %}
    <div class="list-group-item d-flex justify-content-start align-items-center">
        <div class="text-break" style="flex-basis: 40%">
            {{ product.name }}
        </div>
        <div style="flex-basis: 20%">
            {% for barcode in product.barcodes_set.all %}
                <div class="text-break" style="padding: 3px;line-height: 1em">
                    {{ barcode.barcode }}
                </div>
            {% endfor %}
        </div>
        <div style="flex-basis: 20%">
            {{ product.prices_set.all|get_price_for_device:CURRENT_STORE }}
        </div>
        <div style="flex-basis: 8%">
            <div>Код для весов:</div>
            {% get_printer_code_from_barcode product.barcodes_set.all as printer_code %}
            <input class="js_printed_code" style="width: 100%" data-id_out="{{ product.id_out }}" id="printer_code"
                   value="{% if printer_code.printer_code %}{{ printer_code.printer_code }}{% endif %}"
                   placeholder="">
        </div>
        <div style="flex-basis: 12%">
            <div>Название для весов:</div>
            <input class="js_short_name" style="width: 100%" data-id_out="{{ product.id_out }}" id="short_name"
                   value="{% if product.short_name %}{{ product.short_name }}{% endif %}"
                   placeholder="">
        </div>
    </div>


{% endfor %}