<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Внешняя оболочка Дримкас</h3>
        {{ CURRENT_STORE.store_name }}
        <form method="POST" action="{% url "set_store_id" %}">
            <select name="store_id" id="store_id">
                {% for store in STORES %}
                    <option {% if store.store_id == CURRENT_STORE.store_id %} selected {% endif %} value="{{ store.store_id }}">
                    {{ store.store_name }}
                    </option>
                {% endfor %}
            </select>
            <button>
                Сменить магазин
            </button>
        </form>
    </div>

    <ul class="list-unstyled components">
        {#        <p>Dummy Heading</p>#}
        {#        <li class="active">#}
        {#            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>#}
        {#            <ul class="collapse list-unstyled" id="homeSubmenu">#}
        {#                <li>#}
        {#                    <a href="#">Home 1</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Home 2</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Home 3</a>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </li>#}
        <li>
            <a href="/">Главная Страница</a>
        </li>
        <li>
            <a href="/manual_invoice">Ручная Приемка Накладных</a>
        </li>

        {#        <li>#}
        {#            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>#}
        {#            <ul class="collapse list-unstyled" id="pageSubmenu">#}
        {#                <li>#}
        {#                    <a href="#">Page 1</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Page 2</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Page 3</a>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </li>#}
        <li>
            <a href="/test_union">Накладные по поставщикам</a>
        </li>
        <li>
            <a href="/invoices">Накладные</a>
        </li>
        <li>
            <a href="/invoices_diadoc">Накладные Диадок</a>
        </li>
        <li>
            <a href="/gmail_messages">Накладные По почте</a>
        </li>
        <li>
            <a href="/good_groups">Группы товаров</a>
        </li>
        <li>
            <a href="/suppliers">Поставщики</a>
        </li>
        <li>
            <a href="/products">Товары</a>
        </li>
        <li>
            <a href="/inventory_checks">Инвентаризации</a>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Отчеты</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/invoice_reports">Накладные за день</a>
                </li>
                <li>
                    <a href="#">Товары с неправильной группой</a>
                </li>
                <li>
                    <a href="#">Товары с невправильным остатком</a>
                </li>
                <li>
                    <a href="#">Товары которые не продаются</a>
                </li>
                <li>
                    <a href="#">Продающиеся товары без прихода</a>
                </li>

            </ul>
        </li>
    </ul>
</nav>