<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Внешняя оболочка Дримкас</h3>
        {#        {{ CURRENT_STORE.store_name }}#}
        <select class="select_store_id" name="store_id" id="store_id">
            {% for store in STORES %}
                <option {% if store.store_id == CURRENT_STORE.store_id %} selected {% endif %} value="{{ store.store_id }}">
                    {{ store.store_name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <ul class="list-unstyled components">
        {#        <p>Dummy Heading</p>#}
        {#        <li class="active">#}
        {#            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>#}
        {#            <ul class="collapse list-unstyled" id="homeSubmenu">#}
        {#                <li>#}
        {#                    <a href="#">Home 1</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Home 2</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Home 3</a>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </li>#}
        <li>
            <a href="/">Главная Страница</a>
        </li>
        <li>
            <a href="/manual_invoice">Ручная Приемка Накладных</a>
        </li>

        {#        <li>#}
        {#            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>#}
        {#            <ul class="collapse list-unstyled" id="pageSubmenu">#}
        {#                <li>#}
        {#                    <a href="#">Page 1</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Page 2</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="#">Page 3</a>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </li>#}
        <li>
            <a href="/invoices">Накладные</a>
        </li>
        <li>
            <a href="/invoices_diadoc_v2">Накладные Диадок</a>
        </li>
        <li>
            <a href="/gmail_messages">Накладные По почте</a>
        </li>
        <li>
            <a href="/good_groups">Группы товаров</a>
        </li>
        <li>
            <a href="/suppliers">Поставщики</a>
        </li>
        <li>
            <a href="/products">Товары</a>
        </li>
        <li>
            <a href="/inventory_checks">Инвентаризации</a>
        </li>
        <li class="active">
            <a href="#options" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Настройка</a>
            <ul class="collapse list-unstyled" id="options">
                <li>
                    <a href="/stores">Магазины</a>
                </li>
                <li>
                    <a href="/diadoc_presets">Шаблоны Диадок</a>
                </li>
                <li>
                    <a href="/gmail_presets">Шаблоны Почта</a>
                </li>
                <li>
                    <a href="/debug">Дебаг</a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Отчеты</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/invoice_reports">Накладные за день</a>
                </li>
                <li>
                    <a href="#">Товары с неправильной группой</a>
                </li>
                <li>
                    <a href="#">Товары с невправильным остатком</a>
                </li>
                <li>
                    <a href="#">Товары которые не продаются</a>
                </li>
                <li>
                    <a href="#">Продающиеся товары без прихода</a>
                </li>

            </ul>
        </li>
    </ul>
</nav>
<script>
    $(".select_store_id").on('change', (e) => {
        console.log('a')
        $.ajax({
            type: "POST",
            url: '/set_store_id/',
            data: {'store_id': e.currentTarget.value},
            success:
                () => {
                    window.location.reload();
                }
        })
    })


</script>