media/*
*.egg-info
*.pot
*.py[co]
*.map
*.scssc
.env
.tox/
gmail_token.json
client_secret.json
_pycache_
MANIFEST
.idea/
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
#/static/
tests/report/
*.sqlite3
venv/
mainapp/static/style.css
**/migrations/*
!**/migrations/__init__.py