{% extends "wrapper.html" %}
{% block body %}
    <div>
        Если вы находитесь на этой странице,
    </div>
    <div>
        но не знаете предназначения данной
    </div>
    <div>
        страницы - пожалуйста,
    </div>
    <div>
        покиньте данную страницу.
    </div>

    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>
        Кнопки на данной странице могут сломать ВСЁ,
    </div>
    <div>
        если не знать что и зачем использовать
    </div>
    <div>
        данные кнопки.
    </div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>


    <form action="{% url "debug_update_all_invoices" %}" method="post">
        <button type="submit" class="btn btn-success">Полное обновление накладных дримкас</button>
    </form>
    <form action="{% url "debug_concat_rests_2" %}" method="post">
        <button type="submit" class="btn btn-success">debug_concat_rests_2с</button>
    </form>
    <form action="{% url "concat_list_of_rests" %}" method="post">
        <button type="submit" class="btn btn-success">concat_list_of_rests</button>
    </form>
    <form action="{% url "delete_duplicate_barcode_objects" %}" method="post">
        <button type="submit" class="btn btn-success">delete_duplicate_barcode_objects</button>
    </form>
    <form action="{% url "delete_duplicate_invoice_objects" %}" method="post">
        <button type="submit" class="btn btn-success">delete_duplicate_barcode_objects</button>
    </form>
{% endblock %}