{% extends "wrapper.html" %}
{% block body %}
    <div class="d-flex">
        <div style="flex-basis: 12%">
            <select name="select" id="select" class="form-control selectpiker select_preset" style="width:100%">
                {% for preset in diadoc_presets %}
                    <option {% if preset.id == diadoc_preset.id %} selected="selected" {% endif %} value={{ preset.id }}>{{ preset.preset_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="flex-basis: 12%">
            <button type="submit" class="btn btn-success create_new_preset">Новый шаблон</button>
        </div>
    </div>
    <div class="d-flex">
        <div id="diadoc_preset_contents" style="flex-basis: 550px">
            {% include 'mainapp/parts/diadoc_preset_display.html' %}
        </div>
    </div>
    <script>
        $(".create_new_preset").on('click', (e) => {
            $.ajax({
                type: "POST",
                url: '/create_diadoc_preset/',
                success: function (data) {
                    $('#diadoc_preset_contents').html(data.diadoc_preset_contents);
                }
            })
        })
        $(".select_preset").on('change', (e) => {
            let preset_id = $(e.currentTarget).find("option:selected").val()
            $.ajax({
                type: "POST",
                url: '/diadoc_presets/',
                data: {'preset_id': preset_id},
                success: function (data) {
                    $('#diadoc_preset_contents').html(data.diadoc_preset_contents);
                }
            });
        })
        document.addEventListener('input', (e) => {
            const target = e.target;
            if (target.classList && Array.from(target.classList).some((className) => className.startsWith('js_'))) {
                const presetId = target.dataset.preset_id; // Access the data attribute
                const obj_to_change = target.id;
                const what_change_to = target.value;


                // Perform your AJAX request here
                $.ajax({
                    type: "POST",
                    url: '/update_diadoc_preset/',
                    data: {'preset_id': presetId, 'obj_to_change': obj_to_change, 'what_change_to': what_change_to},
                    success: function (data) {

                    },
                    error: function (error) {

                    }
                });
            }
        });
    </script>
{% endblock %}