{% extends "wrapper.html" %}
{% block body %}
    <div class="d-flex justify-content-between">
        <div>
            <form action="{% url "update_all_goods" %}" method="post">
                <button type="submit" class="btn btn-success">Обновить Товары</button>
            </form>
            <div>
                Search:
            </div>
            <div>
                <input id="search" value="" placeholder="Product Товара">
            </div>
        </div>
        <div>
            <form action="{% url "generate_xlsx_file_for_printer" %}" method="post">
                <button type="submit" class="btn btn-success">Создать файл для принтера</button>
            </form>
            <div>
                Путь к файлу:
            </div>
            <div>
                <input id="file_location" value="{{ current_printer_file_location }}" placeholder="Местонахождение файла">
            </div>
        </div>
    </div>
    <div class="list-group list-group-numbered">
        <div class="list-group-item d-flex justify-content-start align-items-center">
            <div style="flex-basis: 40%">
                Название
            </div>
            <div style="flex-basis: 20%">
                Штрихкоды
            </div>
            <div style="flex-basis: 20%">
                Цена
            </div>
            <div style="flex-basis: 10%">
            </div>
            <div style="flex-basis: 10%">
            </div>
        </div>
        <div id="products_list_contents">
            {% include 'mainapp/parts/product_list_display.html' %}
        </div>
    </div>
    <script>
        const search_product = debounce((query) => {
            $.ajax({
                type: "POST",
                url: '{% url "products" %}' + '?query=' + query,
                success: function (data) {
                    console.log(data)
                    $('#products_list_contents').html(data.products_list_contents)
                }
            });
        }, 250)

        $("#search").on('input', (e) => {
            search_product(e.currentTarget.value)
        })

        const change_file_location = debounce((file_location) => {
            $.ajax({
                type: "POST",
                url: '{% url "change_printer_file_location" %}',
                data: {'file_location': file_location},
                success: function (data) {
                    console.log(data)
                }
            });
        }, 250)

        $("#file_location").on('input', (e) => {
            change_file_location(e.currentTarget.value)
        })


        const create_or_change_barcodes_from_printer_code = debounce((element, printer_code, id_out) => {
            $.ajax({
                type: "POST",
                url: '{% url "create_or_change_printer_code_for_product" %}',
                data: {'printer_code': printer_code, 'id_out': id_out},
                success: function (data) {
                    $(".js_error").remove()
                    console.log(data)
                    if (data.success) {
                        $(element).after(`<div class="js_error">${data.message}</div>`)
                    } else {
                        $(element).after(`<div class="js_error">${data.message}</div>`)
                    }
                }
            });
        }, 750)
        $("body").on('input', ".js_printed_code", (e) => {
            create_or_change_barcodes_from_printer_code(e.currentTarget, e.currentTarget.value, e.currentTarget.dataset.id_out)
        })

        $("body").on('input', ".js_short_name", (e) => {
            create_or_change_short_name(e.currentTarget, e.currentTarget.value, e.currentTarget.dataset.id_out)
        })
        const create_or_change_short_name = debounce((element, short_name, id_out) => {
            $.ajax({
                type: "POST",
                url: '{% url "create_or_change_short_name_for_product" %}',
                data: {'short_name': short_name, 'id_out': id_out},
                success: function (data) {
                    console.log(data)
                    if (data.success) {

                    } else {

                    }
                }
            });
        }, 500)

        $("body").on('input', ".js_expiry_duration", (e) => {
            create_or_change_expiry_duration(e.currentTarget, e.currentTarget.value, e.currentTarget.dataset.id_out)
        })
        const create_or_change_expiry_duration = debounce((element, expiry_duration, id_out) => {
            $.ajax({
                type: "POST",
                url: '{% url "create_or_change_expiry_duration_for_product" %}',
                data: {'expiry_duration': expiry_duration, 'id_out': id_out},
                success: function (data) {
                    console.log(data)
                    if (data.success) {

                    } else {

                    }
                }
            });
        }, 500)
        $("body").on('input', ".js_contents", (e) => {
            create_or_change_contents(e.currentTarget, e.currentTarget.value, e.currentTarget.dataset.id_out)
        })
        const create_or_change_contents = debounce((element, contents, id_out) => {
            $.ajax({
                type: "POST",
                url: '{% url "create_or_change_contents_for_product" %}',
                data: {'contents': contents, 'id_out': id_out},
                success: function (data) {
                    console.log(data)
                    if (data.success) {

                    } else {

                    }
                }
            });
        }, 500)


        {% comment %}        $("#search").on('input', (e) => {
                    console.log(e.currentTarget.value)
                    $.ajax({
                        type: "POST",
                        url: '{% url "products" %}' + '?query=' + e.currentTarget.value,
                        success: function (data) {
                            console.log(data)
                            $('#products_list_contents').html(data.products_list_contents)
                        }
                    });
                }){% endcomment %}

    </script>
{% endblock %}