{% extends 'wrapper.html' %}
{% load mainapp_tags %}
{% block body %}
    <ol class="list-group list-group-numbered">
        <div style="font-size: 32px">
            {% if invoice.status == "DRAFT" %}Черновик Документа{% endif %}
            {% if invoice.status == "ACCEPTED" %}Приходная Накладная{% endif %}
        </div>
        <div style="font-size: 16px;">
            Идентификатор Документа :{{ invoice.id }}
            {{ invoice.invoice_status }}{{ invoice.invoice_status }}
        </div>


        <div style="font-size: 16px;">
            Отправитель : {{ invoice.sourceLegalEntity.name }}
        </div>
        <div>
            Получатель : {{ invoice.targetLegalEntity.name }}
        </div>
        <div>
            Дата Документа: {{ invoice.acceptedAt }}
        </div>
        <div style="font-size: 24px; {% if priced != 0 %}color:green{% endif %}{% if priced == 0 %} color:red {% endif %}">

            Накладная
            {% if priced != 0 %}
                Расценена
            {% endif %}
            {% if priced == 0 %}
                Не расценена
            {% endif %}


        </div>
        <div class="row">
            <div class="col-sm-2">
                <form action="{% url "create_pricing_order" %}" method="post">
                    <input hidden type="text" name="parentId" id="parentId" value="{{ invoice.id }}">
                    <button type="submit" class="btn btn-primary">Создать расценку накладной</button>
                </form>
            </div>

            {% if priced == 0 %}
                <div class="col-sm-6"></div>
                <div class="col-sm-4">
                    <a href="https://kabinet.dreamkas.ru/app/#!/documents/card~2F{{ invoice.id }}">
                        <button class="btn btn-primary">Перейти на страницу накладной</button>
                    </a>
                </div>
            {% endif %}
            {% if priced != 0 %}
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <a href="https://kabinet.dreamkas.ru/app/#!/documents/card~2F{{ invoice.priced }}">
                        <button class="btn btn-primary">Перейти на страницу переоценки</button>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="https://kabinet.dreamkas.ru/app/#!/documents/card~2F{{ invoice.id }}">
                        <button class="btn btn-primary">Перейти на страницу накладной</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </ol>
    <div id="products_list_contents">
        {% include 'mainapp/parts/dreamkas_invoice_display.html' %}
    </div>
    <script>
        remembered_position_number = -1;
        $(".delete_position").on('click', function (e) {

            e.preventDefault();

            let self = $(this)
            let position_number = self.closest(".invoice-item").data("position_number");
            let invoice_id = $(this).data('invoice_id');
            console.log("position_number");
            console.log(self.closest(".invoice-item").data("position_number"));
            console.log(invoice_id);
            $.ajax({
                type: "POST",
                url: '/invoice_delete_position/',
                data: {'id_dreem': invoice_id, 'position_number': position_number},
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    console.log(data)
                    if (data.success === true) {
                        if (document.getElementsByClassName("position-number").length !== 1) {
                            self.closest(".row.invoice-item").remove();
                            $('.row.invoice-item .position-number').each((key, val) => {
                                let current_position_number = parseInt($(val).html())
                                console.log(key)
                                if (current_position_number >= position_number) {
                                    $(val).html(current_position_number - 1)
                                    $(val).closest("[data-position_number]").get(0).setAttribute('data-position_number', (current_position_number - 1).toString())
                                }
                                if (document.getElementsByClassName("position-number").length === 1) {
                                    $(val).closest("[data-position_number]").get(0).setAttribute('data-position_number', (1).toString())
                                }
                            })
                        } else {
                            document.getElementsByClassName('position-number')[0].innerHTML = 1;
                            document.getElementsByClassName('position-name')[0].innerText = '';

                        }

                    }
                }
            });

        })
    </script>
{% endblock %}