{% extends 'wrapper.html' %}
{% block body %}
    {{ Status }}
    {% if status == "Error" %}
    {% endif %}
    <div class="d-flex align-items-center mb-3">
        <div style="flex-basis: 12%">
            <select name="diadoc_account_select" id="diadoc_account_select" class="form-control selectpiker select_preset" style="width:100%">
                {% for acc in diadoc_accounts %}
                    <option {% if diadoc_account and acc.id == diadoc_account.id %} selected="selected" {% endif %} value="{{ acc.id }}">{{ acc.diadoc_account_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success refresh-diadoc-invoices ml-2">
            <span style="display: none" class="loading-spinner-stuff spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Обновить Накладные в Диадок</span>
        </button>
    </div>
    <ol class="list-group list-group-numbered">
        {% for invoice in invoices %}



            <li class="list-group-item d-flex justify-content-end align-items-center">
                <div style="flex-basis: 50%; flex-grow: 1">
                    <div style="font-size: 16px; font-weight: 500;" class="fw-bold"> {{ invoice.number }}</div>
                    <div class="text-dark">{{ invoice.kontragent }}</div>
                    <div class="text-dark">{{ invoice.issue_date|date:"d.m.Y" }}</div>

                </div>
                <div class="">
                    <button type="submit" class="btn btn-primary create-dreamkas-invoice-from-diadoc-invoice" data-diadoc_document_id="{{ invoice.diadoc_id }}">
                        <span style="display: none" class="loading-spinner-stuff spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Принять накладную</span>
                    </button>
                </div>
                <div style="flex-basis: 150px; margin-left: 70px; text-align: left;">
                    <div style="font-size: 16px; font-weight: 700;" class="text-accent-1">{{ invoice.sum }}</div>
                </div>
            </li>
        {% endfor %}
    </ol>
    <script>
        $("#diadoc_account_select").on('change', (e) => {
            let diadoc_account_id = $(e.currentTarget).find("option:selected").val();
            $.ajax({
                type: "POST",
                url: '/set_default_diadoc_account/',
                data: {'diadoc_account_id': diadoc_account_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    if (data.success) {
                        document.location.reload();
                    }
                }
            });
        });
        $('.create-dreamkas-invoice-from-diadoc-invoice').on('click', (e) => {
            e.currentTarget.querySelector('.loading-spinner-stuff').style.display = "inherit";
            $.ajax({
                type: 'POST',
                url: '/create_1c_invoice_from_diadoc/',
                data: {'diadoc_document_id': e.currentTarget.dataset.diadoc_document_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},

                success: function (data) {
                    if (data.success) {
                        for (var i = 0; i < data.links.length; i++) {
                            window.open(data.links[i], '_blank');

                        }
                        e.currentTarget.querySelector('.loading-spinner-stuff').style.display = "none";
                    } else {
                        e.currentTarget.querySelector('.loading-spinner-stuff').style.display = "none";
                        Swal.fire({
                            position: 'top-end',
                            title: data.errormsg,
                            showConfirmButton: false,
                            timer: 10000,
                            backdrop: false
                        })
                    }
                }
            })

        })
        $(".refresh-diadoc-invoices").on('click', (e) => {
                e.preventDefault()
                let spinner = $(".refresh-diadoc-invoices span.loading-spinner-stuff");
                spinner.css("display", "inherit")
                {#element.getElementById('update-diadoc-invoices').setAttribute(class, "btn btn-success refresh-diadoc-invoices spinner-border spinner-border-sm")#}
                $.ajax({
                    type: "POST",
                    url: '/invoices_diadoc_update_v3/',
                    {#contentType: false,#}
                    {#processData: false,#}
                    {#async: false,#}

                    success: function (data) {
                        console.log(data)
                        if (data.success === true) {
                            document.location.reload()
                        } else {
                            Swal.fire({
                                position: 'top-end',
                                title: `Произошла Ошибка. Попробуйте позже либо обратитесь к администиатору`,
                                showConfirmButton: false,
                                timer: 10000,
                                backdrop: false
                            })
                            spinner.css("display", "none")
                        }

                    }
                })
            }
        )


    </script>
{% endblock %}