{% extends 'wrapper.html' %}
{% block body %}
    {{ Status }}


    {% if status == "Error" %}
    {% endif %}
    <form action="{% url "invoices_diadoc_update" %}" method="post">
        <button type="submit" class="btn btn-success">Обновить Накладные в Диадок</button>
    </form>
    <ol class="list-group list-group-numbered">
        {% for invoice in invoices %}



            <li class="list-group-item d-flex justify-content-end align-items-center">
                <div style="flex-basis: 50%; flex-grow: 1">
                    <div style="font-size: 16px; font-weight: 500;" class="fw-bold"> {{ invoice.number }}</div>
                    <div class="text-dark">{{ invoice.kontragent }}</div>
                    <div class="text-dark">{{ invoice.issue_date|date:"d.m.Y" }}</div>

                </div>
                <div style="margin-right: 70px">
                    {% for diadoc_invoce in matching_invoices %}
                        {% if diadoc_invoce.number == invoice.number %}
                            {% if diadoc_invoce.supplier == invoice.kontragent %}
                                {% if diadoc_invoce.issue_date == invoice.issue_date %}
                                    <button type="submit" class="btn btn-primary">Просмотреть накладную</button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}


                </div>
                <div class="">
                    <form action="{% url "create_document_from_diadoc" %}" method="post">
                        <input hidden type="text" name="link_document_attachment" id="link_document_attachment" value="{{ invoice.downloadlink }}">
                        <input hidden type="text" name="diadoc_id" id="diadoc_id" value="{{ invoice.diadoc_id }}">
                        <button type="submit" class="btn btn-primary">Принять Накладную</button>
                    </form>
                </div>
                <div style="flex-basis: 150px; margin-left: 70px; text-align: left;">
                    <div style="font-size: 16px; font-weight: 700;" class="text-accent-1">{{ invoice.sum }}</div>
                </div>
            </li>
        {% endfor %}
    </ol>
    <script>
        if (Status == "Error"){
            $('ModalToShow').modal("show");
        }

        $(".checked_paid").on('change', (e) => {

            let id = e.currentTarget.id;
            let paid = 0;
            if (e.currentTarget.checked) {
                paid = 1
            }

            $.ajax({
                type: "POST",
                url: '/paid_update/',
                data: {'id': id, 'paid': paid},
                {#contentType: false,#}
                {#processData: false,#}
                {#async: false,#}
                success: function (data) {
                    console.log(data)
                }
            });
        })
    </script>
{% endblock %}