{% extends 'wrapper.html' %}
{% block body %}
    {{ Status }}
    {% if status == "Error" %}
    {% endif %}
    <button type="submit" class="btn btn-success refresh-diadoc-invoices">
        <span style="display: none" class="loading-spinner-stuff spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Обновить Накладные в Диадок</span>
    </button>
    <ol class="list-group list-group-numbered">
        {% for invoice in invoices %}



            <li class="list-group-item d-flex justify-content-end align-items-center">
                <div style="flex-basis: 50%; flex-grow: 1">
                    <div style="font-size: 16px; font-weight: 500;" class="fw-bold"> {{ invoice.number }}</div>
                    <div class="text-dark">{{ invoice.kontragent }}</div>
                    <div class="text-dark">{{ invoice.issue_date|date:"d.m.Y" }}</div>

                </div>
                <div style="margin-right: 70px">
                    {% for diadoc_invoce in matching_invoices %}
                        {% if diadoc_invoce.number == invoice.number %}
                            {% if diadoc_invoce.supplier == invoice.kontragent %}
                                {% if diadoc_invoce.issue_date == invoice.issue_date %}
                                    <button type="submit" class="btn btn-primary">Просмотреть накладную</button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}


                </div>
                <div class="">
{#                    <form action="{% url "create_document_from_diadoc" %}" method="post">#}
{#                        <input hidden type="text" name="link_document_attachment" id="link_document_attachment" value="{{ invoice.downloadlink }}">#}
{#                        <input hidden type="text" name="filename" id="filename" value="{{ invoice.diadoc_id }}">#}
                        <button type="submit" class="btn btn-primary create-dreamkas-invoice-from-diadoc-invoice" data-diadoc_document_id="{{ invoice.diadoc_id }}">Принять Накладную</button>
{#                    </form>#}
                </div>
                <div style="flex-basis: 150px; margin-left: 70px; text-align: left;">
                    <div style="font-size: 16px; font-weight: 700;" class="text-accent-1">{{ invoice.sum }}</div>
                </div>
            </li>
        {% endfor %}
    </ol>
    <script>
        $('.create-dreamkas-invoice-from-diadoc-invoice').on('click',(e) => {
            $.ajax({
                type:'POST',
                url:'/create_document_from_diadoc_v2/',
                data:{'diadoc_document_id': e.currentTarget.dataset.diadoc_document_id}
             })

        })
        $(".refresh-diadoc-invoices").on('click', (e) => {
                e.preventDefault()
                let spinner = $(".refresh-diadoc-invoices span.loading-spinner-stuff");
                spinner.css("display", "inherit")
                {#element.getElementById('update-diadoc-invoices').setAttribute(class, "btn btn-success refresh-diadoc-invoices spinner-border spinner-border-sm")#}
                $.ajax({
                    type: "POST",
                    url: '/invoices_diadoc_update_v2/',
                    {#contentType: false,#}
                    {#processData: false,#}
                    {#async: false,#}

                    success: function (data) {
                        console.log(data)
                        if (data.success === true) {
                            document.location.reload()
                        } else {
                            Swal.fire({
                                position: 'top-end',
                                title: `Произошла Ошибка. Попробуйте позже либо обратитесь к администиатору`,
                                showConfirmButton: false,
                                timer: 10000,
                                backdrop: false
                            })
                            spinner.css("display", "none")
                        }

                    }
                })
            }
        )


    </script>
{% endblock %}